<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<h1>Home</h1>
<h1>Hello <%= name %> </h1> <!-- switching back to javascript code . ALl js code and js expression goes into <%= Here %> -->
</body>
</html>